<section *ngIf="stat$ | async as stat" class="stats">
  <div class="font-primary">1.kör</div>
  <div class="font-primary">14. hely</div>
  <div class="flex">
    <img src="../../../../assets/svg/007-shark.svg" />
    <div class="stats-grid">
      <div class="font-primary">{{ stat.units.laserShark }}</div>
    </div>
  </div>

  <div class="flex">
    <img src="../../../../assets/svg/025-seal.svg" />
    <div class="stats-grid">
      <div class="font-primary">{{ stat.units.attackSeal }}</div>
    </div>
  </div>

  <div class="flex">
    <img src="../../../../assets/svg/013-seahorse.svg" />
    <div class="stats-grid">
      <div class="font-primary">{{ stat.units.battleSeaHorse }}</div>
    </div>
  </div>

  <div class="flex">
    <img src="../../../../assets/svg/shell.svg" />
    <div class="stats-grid">
      <div class="font-primary">{{ stat.country.pearls }}</div>
      <div class="font-secondary">20/kör</div>
    </div>
  </div>

  <div class="flex">
    <img src="../../../../assets/svg/018-coral.svg" />
    <div class="stats-grid">
      <div class="font-primary">{{ stat.country.coralls }}</div>
      <div class="font-secondary">12/kör</div>
    </div>
  </div>

  <div *ngFor="let building of stat.buildings" class="flex">
    <img [src]="'../../../../assets/' + building.statImage" />
    <div class="stats-grid">
      <div class="font-primary">{{ building.owned }}</div>
      <div class="font-secondary">0 épül</div>
    </div>
  </div>
</section>
