<section class="buildings">
  <div class="buildings-heading">
    <p class="font-l">Épületek</p>
    <p class="font-m">
      Kattints rá, amelyiket szeretnéd megvenni.<br>
      Egyszerre csak egy épület épülhet!
    </p>
  </div>

  <div class="buildings-1 font-s" (click)="selectBuilding(1)" #buildingFirst>

    <div class="buildings-1-img">
      <img class="buildings-img" src="../../../../../../assets/img/undersea_game-07.png">
      <p>Zátonyvár<br>
        50 embert ad a népességhez<br>
        200 korallt termel körönként
      </p>
    </div>

    <div class="buildings-1-price">
      <p>
        x db<br>
        30 gyöngy / db
      </p>
    </div>

  </div>

  <div class="buildings-2 font-s" (click)="selectBuilding(2)" #buildingSecond>

    <div class="buildings-2-img">
      <img class="buildings-img" src="../../../../../../assets/img/undersea_game-05.png">
      <p>Áramlásirányító<br>
        200 egységnek nyújt szállást
      </p>
    </div>

    <div class="buildings-2-price">
      <p>
        x db<br>
        30 gyöngy / db
      </p>
    </div>

  </div>
  <div class="buildings-btn">
    <button>Megveszem</button>
  </div>
</section>
