.buildings {
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;

    width: 55rem;
    height: 50rem;
    background: #03255f;
    box-shadow: 0px 3px 34px #03255f;
    border-radius: 1.6rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 2fr 1fr;
    align-items: center;
    padding: 0 3rem 0 3rem;

    &-heading {
        text-align: left;
        letter-spacing: 0px;
    }

    &-1 {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        justify-self: center;
        text-align: center;
        display: grid;
        align-content: space-evenly;
        padding: 1rem;
        border-radius: 1rem;
        width: 20rem;
        height: 22rem;

        &:hover {
            cursor: pointer;
            background: rgba(182, 253, 255, 0.3);
        }
    }

    &-2 {
        grid-row: 2 / 3;
        grid-column: 2 / -1;
        justify-self: center;
        text-align: center;
        display: grid;
        align-content: space-evenly;
        padding: 1rem;
        border-radius: 1rem;
        width: 20rem;
        height: 22rem;

        &:hover {
            cursor: pointer;
            background: rgba(182, 253, 255, 0.3);
        }
    }

    &-btn {
        grid-row: 3 / -1;
        grid-column: 1 / -1;
        text-align: center;

        & > button {
            width: 17rem;
            height: 4.5rem;
            background: linear-gradient(258deg, #9ffff0 0%, #6beee9 36%, #0fcfde 100%);
            box-shadow: 0px 3px 6px #3b7dbd;
            border-radius: 9rem;
            font: normal normal normal 18px/28px Baloo;
            color: #001234;

            &:hover {
                cursor: pointer;
            }

            &:focus {
                outline: none;
            }
        }
    }

    &-img {
        width: 10rem;
        height: 10rem;
    }
}

.font-l {
    font-size: 3rem;
}

.font-m {
    font-size: 1.3rem;
}

.font-s {
    font-size: 1.1rem;
}
