.strategy {
  &-main {
    width: 100vw;
    height: 100vh;
    background: url("../../../../assets/img/undersea_game-01.png");
    background-size: cover;
  }

  &-img {
    margin-top: 30rem;
    margin-left: 50rem;
    width: 35rem;
    height: 37rem;
    background: url("../../../../assets/img/undersea_game-07.png");
  }
}

.flex {
  display: flex;
}

