.sidebar {
  display: grid;
  padding-left: 2rem;
  width: max-content;
  justify-items: center;
  position: absolute;
  bottom: 3%;
}

.options {
  padding-bottom: 5rem;
}

.options > button {
  width: 13rem;
  height: 3rem;
  background: linear-gradient(258deg, #9ffff0 0%, #6beee9 36%, #0fcfde 100%);
  box-shadow: 0px 3px 6px #3b7dbd;
  border-radius: 9rem;
  margin-top: 2rem;

  text-align: center;
  font: normal normal normal 1.5rem/2rem Baloo;
  letter-spacing: 0px;
  color: #001234;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}

.logo {
  margin-top: 3rem;
  width: 100%;

  &:hover {
    cursor: default;
  }

  &-line {
    height: 0.6rem;
    background: #9ffff0;
  }

  &-title {
    height: 4rem;
    text-align: center;
    font: normal normal normal 38px/60px Baloo;
    letter-spacing: 0px;
    color: #9ffff0;
  }
}
